@font-face {
  font-family: 'Lato-Bold';
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Medium';
  src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

body {
  color: #797979;
  font-size: 14px;
  font-family: 'Lato-Regular';
}

.container {
  max-width: 1170px;
  margin: auto;
}

.header .header-top {
  background: #ffffff;
  z-index: 100;
  height: 95px;
  border-bottom: 1px solid #eeeeee;
}

.header .header-top nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
}

.header .header-top nav .logo a h2 {
  font-size: 30px;
  color: #777777;
  font-weight: 100;
}

.header .header-top nav .logo a h2 span {
  color: #48cfad;
}

.header .header-top nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top nav .nav-menu .menu {
  z-index: 200;
}

.header .header-top nav .nav-menu .menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top nav .nav-menu .menu .menu-list li {
  position: relative;
  list-style: none;
}

.header .header-top nav .nav-menu .menu .menu-list li:hover > ul {
  display: block;
}

.header .header-top nav .nav-menu .menu .menu-list li ul {
  position: absolute;
  min-width: 160px;
  background: #ffffff;
  display: none;
  white-space: nowrap;
}

.header .header-top nav .nav-menu .menu .menu-list li ul li {
  border-bottom: 1px solid #eeeeee;
}

.header .header-top nav .nav-menu .menu .menu-list li ul li:last-child {
  border-bottom: none;
}

.header .header-top nav .nav-menu .menu .menu-list li ul li a {
  border-radius: 0;
}

.header .header-top nav .nav-menu .menu .menu-list li ul li ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.header .header-top nav .nav-menu .menu .menu-list li a {
  color: #999999;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  border-radius: 3px;
}

.header .header-top nav .nav-menu .menu .menu-list li a .fas {
  font-family: 'fa-solid-900';
  font-size: 10px;
}

.header .header-top nav .nav-menu .menu .menu-list li a:hover {
  background: #48cfad;
  color: #ffffff;
}

.header .header-top nav .nav-menu .header-search {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  width: 40px;
  height: 30px;
  padding: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header-top nav .nav-menu .header-search:focus-within {
  width: 150px;
}

.header .header-top nav .nav-menu .header-search input {
  width: 100%;
}

.header .header-top nav .nav-menu .header-search button {
  height: 100%;
}

.header .header-top nav .nav-menu .header-search button .fas {
  font-family: 'fa-solid-900';
  color: #cccccc;
}

.header .sequence-inner #sequence {
  height: calc(100vh - 95px);
}

.header .sequence-inner #sequence .sequence-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .sequence-inner #sequence .sequence-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .sequence-inner #sequence .sequence-canvas li {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .sequence-inner #sequence .info {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .sequence-inner #sequence .info h2 {
  font-family: 'Lato-Medium';
  font-weight: 500;
}

.header .sequence-inner #sequence .info p {
  margin-top: 10px;
}

.welcome {
  padding: 50px 0;
}

.welcome .title {
  text-align: center;
}

.welcome .title h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Lato-Light';
}

.welcome .welcome-wrap {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome .welcome-wrap .block {
  text-align: center;
}

.welcome .welcome-wrap .block img {
  width: 100px;
  height: 100px;
}

.welcome .welcome-wrap .block h5 {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Lato-Medium';
}

.welcome .welcome-wrap .block p {
  margin-top: 10px;
  line-height: 22px;
}

.ready {
  padding: 80px 0;
  background: #f9f9f3;
}

.ready .ready-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready .ready-wrap .content h5 {
  margin-top: 20px;
  color: #475168;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.ready .ready-wrap .content .desc {
  margin: 20px 0;
  max-width: 555px;
  border-top: 1px solid #dfdcdf;
  border-bottom: 1px solid #dfdcdf;
  padding: 20px 0;
}

.ready .ready-wrap .content .desc p {
  line-height: 22px;
  margin-bottom: 10px;
}

.ready .ready-wrap .content .desc p:last-of-type {
  margin-bottom: 0;
}

.ready .ready-wrap .content .desc p .fas {
  font-family: 'fa-solid-900';
  color: #48cfad;
  margin-right: 10px;
  font-size: 18px;
}

.ready .ready-wrap .content .btn {
  margin-top: 30px;
}

.ready .ready-wrap .content .btn button {
  width: 140px;
  height: 35px;
  background: #475168;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Lato-Medium';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ready .ready-wrap .content .btn button:hover {
  background: #48cfad;
}

.blog {
  padding: 60px 0;
}

.blog .blog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-wrap .panel {
  width: 50%;
}

.blog .blog-wrap .panel .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.blog .blog-wrap .panel .btn button {
  background: #48cfad;
  border-right: 1px solid #f4f4f4;
  width: 190px;
  height: 55px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-wrap .panel .btn button.blog-active {
  background: #f4f4f4;
  color: #6f6f6f;
}

.blog .blog-wrap .panel .btn button:hover {
  background: #f4f4f4;
  color: #6f6f6f;
}

.blog .blog-wrap .panel .btn button:last-of-type {
  border-right: none;
}

.blog .blog-wrap .panel .block {
  border: 1px solid #eeeeee;
  border-radius: 1px;
  padding: 15px;
  display: none;
}

.blog .blog-wrap .panel .block.blog-open {
  display: block;
}

.blog .blog-wrap .panel .block .block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.blog .blog-wrap .panel .block .block-item:first-of-type {
  margin-top: 0;
}

.blog .blog-wrap .panel .block .block-item .img img {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

.blog .blog-wrap .panel .block .block-item .content {
  margin-left: 10px;
}

.blog .blog-wrap .panel .block .block-item .content h6 {
  font-size: 14px;
  font-weight: 400;
}

.blog .blog-wrap .panel .block .block-item .content h6 a {
  color: #48cfad;
}

.blog .blog-wrap .panel .events .block-item {
  display: block;
}

.blog .blog-wrap .panel .events .block-item h6 {
  font-size: 14px;
  font-weight: 400;
}

.blog .blog-wrap .panel .events .block-item h6 a {
  color: #444e67;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-wrap .panel .events .block-item h6 a:hover {
  color: #48cfad;
}

.blog .blog-wrap .panel .notice .block-item p {
  line-height: 22px;
}

.blog .blog-wrap .blog-slider-wrap {
  width: 50%;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
}

.blog .blog-wrap .blog-slider-wrap:hover .btn button {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0.5;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list {
  overflow: hidden;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info .img {
  margin: 0 15px;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info .img img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info .author h6 {
  margin-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Lato-Light';
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info .author h6 a {
  color: #504946;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .info .author p {
  font-size: 13px;
  color: #ababab;
  font-family: 'Lato-Light';
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .desc {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #e9e9e9;
  position: relative;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .desc::before, .blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .desc::after {
  content: '';
  position: absolute;
  left: 55px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e9e9e9;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .desc::after {
  border-bottom: 10px solid #ffffff;
  top: -19px;
}

.blog .blog-wrap .blog-slider-wrap .blog-slider .slick-list .slick-track .blog-slider-block .desc p {
  line-height: 20px;
}

.blog .blog-wrap .blog-slider-wrap .btn {
  width: 70px;
  position: absolute;
  top: 30px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.blog .blog-wrap .blog-slider-wrap .btn button {
  width: 30px;
  height: 30px;
  background: #48cfad;
  border-radius: 50%;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .blog-wrap .blog-slider-wrap .btn button .fas {
  font-family: 'fa-solid-900';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .blog-wrap .blog-slider-wrap .btn .blog-slider-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.blog .blog-wrap .blog-slider-wrap .btn .blog-slider-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
/*# sourceMappingURL=style.css.map */