@font-face 
  font-family: 'Lato-Bold'
  src: url(../fonts/Lato-Bold.ttf)
@font-face 
  font-family: 'Lato-Light'
  src: url(../fonts/Lato-Light.ttf)
@font-face 
  font-family: 'Lato-Medium'
  src: url(../fonts/Lato-Medium.ttf)
@font-face 
  font-family: 'Lato-Regular'
  src: url(../fonts/Lato-Regular.ttf)
@font-face 
  font-family: 'Lato-Semibold'
  src: url(../fonts/Lato-Semibold.ttf)
@font-face 
  font-family: 'Lato-Thin'
  src: url(../fonts/Lato-Thin.ttf)
@font-face 
  font-family: 'fa-brands-400'
  src: url(../fonts/fa-brands-400.ttf)
@font-face 
  font-family: 'fa-solid-900'
  src: url(../fonts/fa-solid-900.ttf)
@mixin lat_bold
  font-family: 'Lato-Bold'
@mixin lat_light
  font-family: 'Lato-Light'
@mixin lat_med
  font-family: 'Lato-Medium'
@mixin lat_reg
  font-family: 'Lato-Regular'
@mixin lat_semi
  font-family: 'Lato-Semibold'
@mixin lat_thin
  font-family: 'Lato-Thin'
@mixin brand
  font-family: 'fa-brands-400'
@mixin solid
  font-family: 'fa-solid-900'
body 
  color: #797979
  font-size: 14px 
  +lat_reg 
.container 
  max-width: 1170px 
  margin: auto