.login-content 
  padding: 50px 0 
  background: #f1f2f7
  & .form 
    margin: auto
    background: #ffffff
    width: 330px
    border-radius: 3px 
    text-align: center
    & .title 
      & h5
        padding: 20px 15px
        background: #48cfad
        color: #fff
        font-size: 18px
        text-transform: uppercase
        font-weight: 300
    & form 
      padding: 20px 
      & .inputs 
        & input 
          border: 1px solid #eaeaea
          margin-top: 15px
          font-size: 12px 
          border-radius: 3px 
          height: 38px 
          padding: 10px 
          color: #c2c2c2
          width: 100% 
          &:first-of-type
            margin-top: 0
      & .checkbox 
        margin-top: 15px 
        display: flex 
        align-items: center
        justify-content: space-between
        & span 
          margin-left: -60px 
        & .link
          & a 
            display: inline-block
            color: #41cac0
            transition: 0.3s
            &:hover
              color: #b6b6b6
      & .btn
        margin-top: 15px 
        & button 
          background: #48cfad
          color: #fff
          text-transform: uppercase
          border-radius: 3px
          transition: all .3s ease
          padding: 10px 16px
          font-size: 18px
          width: 100%
          &:hover
            background: #37BC9B
      & p 
        margin-top: 20px 
        color: #b6b6b6
        font-size: 16px
      & .social 
        margin-top: 30px 
        display: inline-flex
        align-items: center
        justify-content: space-between
        width: 100% 
        & a 
          border-radius: 3px
          transition: all .3s ease
          padding: 15px 28px 
          color: #ffffff
          & .fab 
            +brand 
            font-size: 20px 
            padding-right: 10px 
        & .facebook 
          background: #5D9CEC
          &:hover
            background: #4A89DC
        & .twitter 
          background: #4FC1E9
          &:hover
            background: #3BAFDA
      & .help 
        margin-top: 15px 
        display: flex 
        align-items: center
        justify-content: space-between
        & p 
          font-size: 14px 
          margin-top: 0
          color: #797979
        & a 
          display: inline-block
          color: #41cac0
          transition: 0.3s
          &:hover
            color: #b6b6b6


