.form-content
  padding: 60px 0 
  & h1 
    font-size: 36px 
    font-weight: 500
  & .forms-line 
    width: 100%
    height: 1px 
    background: #eeeeee
    margin: 10px 0 20px 
  & .row 
    margin-bottom: 20px 
    & .basic-example 
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
        & p 
          line-height: 22px 
      & .content 
        margin-top: 10px 
        & .form 
          border: 1px solid #e5e5e5
          padding: 15px 
          background: #f8f8f8
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              opacity: 0.6
          & form
            margin-top: 20px
            & .form-group
              margin-bottom: 15px  
              & p
                font-weight: bold 
              & input[type="email"], input[type="password"]
                margin-top: 5px 
                border: 1px solid #d9d9d9
                width: 100%
                color: #c2c2c2
                border-radius: 2px 
                height: 34px 
                padding: 6px 12px 
                background: #ffffff
              & input[type="file"] 
                margin-top: 5px 
              & .input-help 
                color: #737373
                font-weight: 400
                margin-top: 5px 
    & .inline-form
      & .title 
        & h4 
          font-size: 30px 
          font-weight: 500
        & p 
          line-height: 22px 
          & span 
            font-weight: bold 
      & .content 
        margin-top: 10px 
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px 
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              font-weight: bold 
              opacity: 0.6
          & form 
            margin-top: 20px 
            display: flex 
            align-items: center
            & .form-group 
              margin-left: 5px
              &:first-of-type
                margin-left: 0 
              & input[type="email"], input[type="password"]
                border: 1px solid #d9d9d9
                border-radius: 2px 
                color: #c2c2c2
                height: 34px 
                width: 100%
                padding: 6px 12px 
                background: #ffffff
            & .btn 
              margin-left: 5px 
    & .horizontal-form
      & .title 
        & h3
          font-size: 30px 
          font-weight: 500
        & p 
          line-height: 22px 
      & .content
        margin-top: 10px  
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px 
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              opacity: 0.6
          & form 
            margin-top: 20px 
            & .form-group 
              display: flex 
              align-items: center
              justify-content: space-between
              margin-bottom: 15px 
              & input[type="email"], input[type="password"]
                border: 1px solid #d9d9d9
                width: 83%
                height: 34px 
                background: #ffffff
                color: #c2c2c2
                padding: 6px 12px 
            & .form-groups 
              margin-left: 17%
              & .form-group 
                display: block
    & .supported-controls
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
        & p 
          line-height: 22px 
      & .inputs 
        margin-top: 30px 
        & .title 
          & h4 
            font-size: 24px 
            font-weight: 500
          & p 
            line-height: 22px 
        & .content 
          margin-top: 10px 
          & .form 
            border: 1px solid #e5e5e5
            background: #f8f8f8
            padding: 15px 
            & .title 
              & h3
                text-transform: uppercase
                font-size: 12px 
                font-weight: bold 
                opacity: 0.6
            & form 
              margin-top: 20px 
              & input 
                border: 1px solid #d9d9d9
                width: 100%
                border-radius: 2px 
                background: #ffffff
                height: 34px 
                padding: 6px 12px 
                color: #c2c2c2
      & .textarea 
        margin-top: 20px 
        & .title 
          & h4 
            font-size: 24px 
            font-weight: 500
        & .content 
          margin-top: 10px 
          & .form 
            border: 1px solid #e5e5e5
            background: #f8f8f8
            padding: 15px             
            & .title 
              & h3
                text-transform: uppercase
                font-size: 12px 
                font-weight: bold 
                opacity: 0.6
            & form 
              margin-top: 20px 
              & textarea 
                width: 100%
                border: 1px solid #d9d9d9
                width: 100%
                border-radius: 2px 
                background: #ffffff
                height: auto 
                padding: 6px 12px 
                color: #c2c2c2
      & .checkboxes
        margin-top: 20px 
        & .title 
          & h3
            font-size: 24px 
            font-weight: 500
        & .checkboxes-default 
          margin-top: 10px 
          & .title 
            & h4 
              font-size: 18px 
              font-weight: 500
          & .content 
            margin-top: 10px 
            & .form 
              border: 1px solid #e5e5e5
              background: #f8f8f8
              padding: 15px 
              & .title 
                & h3 
                  text-transform: uppercase
                  font-size: 12px 
                  font-weight: bold 
                  opacity: 0.6
              & form 
                margin-top: 20px 
                & .checkbox 
                  margin-bottom: 35px
                & .radio 
                  margin-bottom: 10px 
                  &:last-of-type
                    margin-bottom: 0
        & .inline-checkboxes
          margin-top: 10px
          & .title 
            & h4 
              font-size: 18px 
              font-weight: 500
          & .content 
            margin-top: 10px 
            & .form 
              border: 1px solid #e5e5e5
              background: #f8f8f8
              padding: 15px 
              & .title 
                & h4 
                  font-size: 12px 
                  text-transform: uppercase
                  font-weight: bold 
                  opacity: 0.6
              & form 
                margin-top: 20px 
                display: flex 
                align-items: center
                & .checkbox-inline 
                  margin-left: 10px 
                  &:first-of-type
                    margin-left: 0
      & .selects
        margin-top: 10px
        & .title 
          & h4 
            font-size: 24px 
            font-weight: 500
        & .content 
          margin-top: 10px 
          & .form 
              border: 1px solid #e5e5e5
              background: #f8f8f8
              padding: 15px    
              & .title 
                & h4 
                  font-size: 12px 
                  font-weight: bold 
                  text-transform: uppercase 
                  opacity: 0.6
              & form 
                margin-top: 20px 
                & select
                  width: 100%
                  border: 1px solid #d9d9d9
                  border-radius: 2px 
                  color: #c2c2c2
                  padding: 6px 12px 
                  height: 34px 
                  background: #ffffff
                  outline: 0
                  margin-bottom: 20px 
                  &:last-of-type
                    margin-bottom: 0
                & select[multiple]
                  height: auto             
    & .static-control 
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
      & .content 
        margin-top: 10px 
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              opacity: 0.6
          & form 
            margin-top: 20px 
            & .form-group 
              display: flex 
              justify-content: space-between
              align-items: center
              margin-bottom: 15px 
              &:last-of-type
                margin-bottom: 0
              & .desc 
                width: 83%
              & input 
                width: 83%
                border: 1px solid #d9d9d9
                border-radius: 2px 
                color: #c2c2c2
                background: #ffffff
                height: 34px 
                padding: 6px 12px 
    & .input-focus
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
      & .content 
        margin-top: 10px 
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px       
          & .title 
            & h4 
              font-size: 12px 
              text-transform: uppercase
              opacity: 0.6
          & form 
            margin-top: 20px 
            & input 
              width: 100%
              background: #ffffff
              height: 34px 
              border: 1px solid #d9d9d9
              border-radius: 2px 
              color: #c2c2c2
              padding: 6px 12px 
              transition: 0.3s
              &:focus
                border-color: rgba(82,168,236,.8)
                box-shadow: 0 0 8px rgba(82,168,236,.6)
        & .demo-focus
          margin-top: 20px
          background: #f4f8fa
          border-left: 3px solid #5bc0de 
          padding: 20px 
          & h5 
            font-size: 18px 
            font-weight: 500
            color: #5bc0de
            & span 
              background: #ffffff
              border-radius: 3px 
              color: #c7254e
              padding: 2px 4px 
              font-size: 90%
          & p 
            margin-top: 5px 
            & span  
              background: #ffffff
              border-radius: 3px 
              color: #c7254e
              padding: 2px 4px 
              font-size: 90%
    & .validation-states
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
        & p 
          line-height: 22px 
      & .content 
        margin-top: 10px
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px   
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              opacity: 0.6
          & form 
            margin-top: 20px 
            & .form-group 
              margin-bottom: 15px 
              &:last-of-type
                margin-bottom: 0
              & p 
                font-weight: bold 
              & input 
                background: #ffffff
                width: 100%
                height: 34px 
                padding: 6px 12px 
                color: #c2c2c2
                border-radius: 2px 
                border: 1px solid #d9d9d9
                margin-top: 5px 
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
            & .has-success
              & p 
                color: #468847
              & input 
                border-color: #468847
                &:focus
                  box-shadow: 0 0 8px rgba(#468847,.6)
            & .has-warning
              & p 
                color: #c09853
              & input 
                border-color: #c09853
                &:focus
                  box-shadow: 0 0 8px rgba(#c09853,.6)
            & .has-error
              & p 
                color: #b94a48
              & input 
                border-color: #b94a48
                &:focus
                  box-shadow: 0 0 8px rgba(#b94a48,.6)
    & .control-sizing
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
      & .height-sizing 
        margin-top: 20px
        & .title 
          & h4 
            font-size: 24px 
            font-weight: 500
        & .content 
          margin-top: 10px 
          & .form 
            border: 1px solid #e5e5e5
            background: #f8f8f8
            padding: 15px  
            & .title 
              & h3 
                text-transform: uppercase
                font-size: 12px  
                font-weight: bold 
                opacity: 0.6
            & form 
              margin-top: 20px 
              & input 
                background: #ffffff
                width: 100%
                border: 1px solid #d9d9d9
                border-radius: 2px 
                color: #c2c2c2
                margin-top: 10px 
                &:first-of-type
                  margin-top: 0
              & .input-lg 
                height: 45px 
                padding: 10px 16px 
                font-size: 18px 
              & .default-input 
                height: 34px 
                padding: 6px 12px 
              & .input-sm 
                height: 30px 
                padding: 5px 10px 
                font-size: 12px 
              & select 
                margin-top: 10px 
                display: block 
                border: 1px solid #d9d9d9
                width: 100%
                border-radius: 2px 
                color: #c2c2c2
                background: #ffffff
                &:focus
                  outline: 0
      & .column-sizing
        margin-top: 20px 
        & .title 
          & h4 
            font-size: 24px 
            font-weight: 500
        & .content 
          margin-top: 10px 
          & .form 
            border: 1px solid #e5e5e5
            background: #f8f8f8
            padding: 15px  
            & .title 
              & h4 
                text-transform: uppercase
                font-size: 12px 
                font-weight: bold 
                opacity: 0.6
            & form 
              margin-top: 20px 
              & input 
                background: #ffffff
                border: 1px solid #d9d9d9
                border-radius: 2px 
                color: #c2c2c2
                height: 34px 
                padding: 6px 12px 
                margin-left: 30px 
                &:first-of-type
                  margin-left: 0
              & .col-xs-2 
                width: 16%
              & .col-xs-3
                width: 25%
              & .col-xs-4
                width: 33%
    & .help-text
      & .title 
        & h3 
          font-size: 30px 
          font-weight: 500
      & .content 
        margin-top: 10px 
        & .form 
          border: 1px solid #e5e5e5
          background: #f8f8f8
          padding: 15px
          & .title 
            & h4 
              text-transform: uppercase
              font-size: 12px 
              opacity: 0.6
          & form 
            margin-top: 20px 
            & input 
              border: 1px solid #d9d9d9
              background: #ffffff
              height: 34px 
              padding: 6px 12px 
              border-radius: 2px 
              color: #c2c2c2
              width: 100%
            & p 
              margin-top: 5px 
              color: #737373





          










